* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box1{
  background-image: url(img6/box1.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
}

.box2{
  background-image: url(img6/box2.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
}

.box3{
  background-image: url(img6/box3.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
}

.box4{
  background-image: url(img6/box4.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
}